.home-hero {
  color: #fff;
  background: linear-gradient(
      to right,
      rgba($themeClrPrimary, 0.8),
      rgba($themeClrPrimary, 0.8)
    ),
    url(../../assets/svg/common-bg.svg);
  background-position: center;

  height: 100vh;

  min-height: 70rem;
  max-height: 100rem;
  position: relative;

  @include respond(phone) {
    height: unset;
    min-height: unset;
  }

  &__socials {
    position: absolute;
    top: 50%;
    border: 2px solid #eee;
    border-left: 2px solid #eee;
    transform: translateY(-50%);
    @include respond(tab-port) {
      display: none;
    }
  }
  &__mouse-scroll-cont {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);

    @include respond(phone) {
      display: none;
    }
  }

  &__social {
    width: 5rem;
  }

  &__social-icon-link {
    width: 100%;
    display: block;
    padding: 1.2rem;
    border-bottom: 2px solid #eee;
    transition: background 0.3s;

    &:hover {
      background: rgba(#fff, 0.1);
    }

    &--bd-none {
      border-bottom: 0;
    }
  }

  &__social-icon {
    width: 100%;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92%;

    @include respond(phone) {
      padding: 19rem 0 13rem 0;
      margin: auto;
      position: static;
      transform: translate(0, 0);
    }
  }

  &__info {
    margin: 1rem auto 0 auto;
    max-width: 80rem;
  }
  &__cta {
    margin-top: 5rem;
    text-align: center;
  }
}

.about {
  background: rgb(250, 250, 250);
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-gap: 1rem;
    }
    &-title {
      font-weight: 700;
      font-size: 2.8rem;
      margin-bottom: 3rem;
      @include respond(phone) {
        font-size: 2.4rem;
        margin-bottom: 1rem;
      }
    }
    &-details-para {
      font-size: 1.8rem;
      color: grey;
      max-width: 60rem;
      line-height: 1.7;
      margin-bottom: 1rem;
      &--hl {
        font-weight: 700;
        margin: 0 3px;
      }
      &:last-child {
        margin-bottom: 4rem;
      }
    }
    &-details-bottom {
      font-size: 1.8rem;
      color: grey;
      line-height: 1.7;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}

.projects {
  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 5rem;
    align-items: center;
    justify-items: center;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      margin-bottom: 8rem;
      text-align: center;
      justify-self: center;
    }
    @include respond(phone) {
      margin-bottom: 3rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-img-cont {
      width: 430px;
      @include respond(phone) {
        width: 350px;
      }
    }

    &-img {
      width: 100%;
      display: block;
      object-fit: cover;
      position: relative;
      transition: 0.2s ease-in;
      z-index: 5;
    }

    &-img-link {
      position: relative;
      display: inline-block;
      color: #fff;
      overflow: hidden;
      z-index: 0;
      border-radius: 25px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 6;
        background: linear-gradient(
          180deg,
          rgba(36, 43, 51, 0) 0%,
          #0b3f7b8a 100%
        );
        transition: background 0.3s ease;
      }

      &:hover::before {
        background: linear-gradient(
          180deg,
          rgba(32, 96, 170, 0) 0%,
          rgba(195, 74, 18, 0.1) 100%
        );
      }

      &::after {
        opacity: 0;
        content: "";
        position: absolute;
        left: 15px;
        top: 15px;
        right: 15px;
        bottom: 15px;
        z-index: 7;
        border: 3px double rgba(255, 255, 255, 0.4);
        border-radius: 25px;
        transition: opacity 0.2s ease-in;
      }

      &:hover {
        color: #fff;

        &::after {
          opacity: 1;
        }

        .projects__row-img {
          transform: scale(1.1);
          transition: all 1s;
          // filter: contrast(80%) brightness(1) saturate(1.2);
        }
      }
    }

    &-content {
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      align-self: center;
      justify-self: self-start;

      @include respond(tab-port) {
        align-items: center;
        justify-self: center;
      }

      @include respond(phone) {
        padding: 0;
      }

      &-title {
        font-weight: 700;
        font-size: 2.8rem;
        margin-bottom: 1rem;
        color: $themeClrPrimary;
        @include respond(phone) {
          font-size: 2.4rem;
        }
      }

      &-desc {
        font-size: 1.8rem;
        color: grey;
        max-width: 60rem;
        line-height: 1.7;
        margin-bottom: 3rem;

        @include respond(phone) {
          font-size: 1.7rem;
        }
      }
    }
  }
}

.contact {
  background: linear-gradient(
      to right,
      rgba($themeClrPrimary, 0.8),
      rgba($themeClrPrimary, 0.8)
    ),
    url(../../assets/svg/common-bg.svg);
  background-size: cover;
  background-position: center;

  &__container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.9);

    padding: 1.5rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    border-radius: $commonBorderRadius;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    margin: 2rem auto 0 auto;
    @include respond(phone) {
      padding: 3rem;
    }
  }
  &__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #242b33;
    &-link {
      transition: all 0.5s;
      &:hover {
        transform: scale(1.2);
        transition: all 0.5s;
      }
    }
  }
  &__social-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: rgba($themeClrPrimary, 0.8);
    &-link {
      transition: all 0.5s;
      &:hover {
        transform: scale(1.2);
        transition: all 0.5s;
      }
    }
  }
}
